<h1>Login</h1>
<!-- add errors in login -->

<%= form_for(:user) do |f| %>
<%= f.label :username %>
<%= f.text_field :username, placeholder: 'Please fill in your username here!' %>

<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Login!" %>
<% end %>

<%= button_to "Login with Google", "/auth/google_oauth2" %> <!-- automatically POST request for button_to -->
