<%= form_for(@shop) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :image %>  <!-- associated with has_one_attaced and no need to add to schema -->
  <%= f.file_field :image %>

  <p> Select a state that already exist </p>
  <%= f.collection_select(:state_id, State.alpha, :id, :name, include_blank: 'Select One') %>

  <p> Or create a new state for the cafe </p>
  <!-- can write like this f.fields_for @shop.build_state%> -->
  <%= f.fields_for :state do |s| %>
  <%= s.label 'State name' %>
  <%= s.text_field :name %>
  <% end %>

  <%= f.submit :class => 'btn' %>
<% end %>  