<h1> All Cafe </h1>
<%= form_tag("/shops", method: "get") do %>
    <%= label_tag(:name, "Search by name:") %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Search") %>
<% end %>

    <ol>
        <% @shops.each do |s| %>
        <li>
            Cafe name: <%= s.name %> -
            <br>
            State: <%= s.state.try(:name) %>
            <br>
           
            <%= link_to "Write a review", new_shop_review_path(s.id)%>
          
        <% end %>

     

    </ol>