<h1> State: <%= @state.name %> </h1>

<%= render 'check_blank' %>

<div class="container-fluid">
    <div class="row" >
        <% @state.shops.each do |s| %>
            <div class="col-md-4"  style="display:inline-block" >
                <div class="card">
                    <div class="card-body bg-card"> 
                        <%= render partial: 'image', locals: {s: s} %>
                            <%= s.name %> 
                            <div style="padding:2rem">
                            <%= link_to "Check out the review", shop_reviews_path(s.id), :class => "btn"%>
                            </div>
                        <%= link_to "Write a review", new_shop_review_path(s.id), class: "btn" %>  
                    </div>   
                </div>
            </div>
        <% end %>
    </div>
</div>
