<h1> State: <%= @state.name %> </h1>
<div>
<% @state.shops.each do |s| %>
<ol>
    <li> 
    <%= render partial: 'image', locals: {s: s} %>
        <br>
        Name :<%= s.name %> 
        <br>
        <br>
        <%= link_to "Check out the review", shop_reviews_path(s.id), :class => "btn"%>
        <%= link_to "Write a review", new_shop_review_path(@shop), class: "btn" %>
    </li>
</ol>
<% end %>
</div>
    