<h1> All reviews  </h1> 
    <ol>
        <% @reviews.each do |r| %>
            <li>
            Cafe Name: <%= r.shop.name %>
            <br>
            Average Rating of Cafe: <%= r.avg_rating %>
            <br>
            Review: <%= r.content %>
            <br>
            Rating: <%= r.rating %>
            <br>
            Username: <%= r.user.username %>
            <br>
            Date: <%= r.created_at.strftime("%b %d, %Y - %I:%M%p")%>
            </li>
          
 <% if @reviews.blank? %>
    <%= "No reviews just yet, would you like to add the first?" %>
    <%= link_to "Write a review", new_shop_review_path(r.id), class: "btn" %>
    <% else %>
    <%= link_to "Write a review", new_review_path(r.id), class: "btn" %>
<% end %>  

           
            <%= render partial: "button", locals: {r:r} %> 
            <br>  
        <% end %>  
    <ol>
 <br>


       

<%= link_to "Back to the all cafe", shops_path, class: "btn" %>