<h1> All reviews  </h1> 
    <ol>
        <% @reviews.each do |r| %>
            <li>
            Cafe Name: <%= r.shop.name %>
            <br>
            Average Rating of Cafe: <%= r.avg_rating %>
            <br>
            Review: <%= r.content %>
            <br>
            Rating: <%= r.rating %>
            <br>
            Username: <%= r.user.username %>
            <br>
            Date: <%= r.created_at.strftime("%b %d, %Y - %I:%M%p")%>
            </li>
            <%= render partial: "check_blank", locals: {r:r} %> 
            <% if r.user == current_user %>
            <%= link_to "Edit your review", edit_review_path(r.id), class: "btn" %>
            <%= link_to "Delete your review", review_path(r.id), method: 'delete',data: {confirm: "Are you sure?"}, class: "btn" %>
            <% end %>
            <br>  
        <% end %>  
    <ol>
 <br>


       

<%= link_to "Back to the all cafe", shops_path, class: "btn" %>