<h1>Review </h1>

Cafe Name: <%= @review.shop.name%>
<br>
State: <%= @review.name_state %>
<br>

Review: <%= @review.content %>
<br>
<% @review.blank_stars.times do %>
 <span class="glyphicon glyphicon-star-empty"></span>
<% end %>

Rating: <%= @review.rating %>
<br>
Username: <%= @review.user.username %>
 <br>

  <% if logged_in? %>
           <%= link_to "Edit your review", edit_review_path %>
<% end %>
