<h1>Review </h1>
    <br>
    <% if @shop.image.attached?%>
        <%= image_tag url_for(@shop.image) %>
    <% end %>
    Cafe Name: <%= @shop.name%>
    <br>
    <br>
    State: <%= @shop.name_state %>
    <br>
    <br>
    Average Rating of Cafe: <%= @review.avg_rating %>
    <br>
    <br> 
    <%= @review.count_reviews %> Review
    <br>
    <br>
    Review: <%= @review.content %>
    <br>
    <% @review.blank_stars.times do %>
    <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>

<div></div>
    Rating: <%= @review.rating %>
    <br>
    Username: <%= @review.user.username %>
    <br>
    <br>
    Date: <%= @review.created_at.strftime("%b %d, %Y - %I:%M%p")%>
   
<% if user_authorized_for_review %>
    <%= link_to "Edit your review", edit_review_path, class: "btn" %>
    <%= link_to "Delete your review", review_path, method: 'delete', method: 'delete',data: {confirm: "Are you sure?"}, class: "btn" %>
<% end %>
