<h1>Review </h1>
    <br>
    <% if @review.shop.image.attached?%>
        <%= image_tag url_for(@review.shop.image) %>
    <% end %>
    Cafe Name: <%= @review.shop.name%>
    <br>
    <br>
    State: <%= @review.name_state %>
    <br>
    <br>
    Average Rating of Cafe: <%= @review.avg_rating %>
    <br>
    <br> 
    <%= @review.count_reviews %> Reviews

    <br>
    <br>
    Review: <%= @review.content %>
    <br>

    <% @review.blank_stars.times do %>
    <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
<link rel="stylesheet" href="jquery.raty.css">
<script src="jquery.raty.js"></script>

<div></div>
    Rating: <%= @review.rating %>
    <br>
    Username: <%= @review.user.username %>
    <br>
    <br>
    Date: <%= @review.created_at.strftime("%b %d, %Y - %I:%M%p")%>
   
<% if @shop.try(:user) != current_user %>
    <%= link_to "Edit your review", edit_review_path, class: "btn" %>
    <%= link_to "Delete your review", review_path, method: 'delete', class: "btn" %>
<% end %>
