 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link', class: 'navbar-brand' do %>
          <i class="fa fa-coffee"> Cafe Verdict </i>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to "All Cafes", shops_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Check By States", states_path, class: 'nav-link' %>
        </li>


        <li class="nav-item">
          <%= link_to "Add a New Cafe", new_shop_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Write a review", new_review_path, class: 'nav-link' %>
        </li> 
   
        <li class="nav-item">
         <%= link_to "logout", logout_path, method: :delete, class: 'nav-link' %>
        </li> 
       

      </ul> 

       <span class="navbar-text">
          <% if logged_in? %>
          Username: <%=  current_user.username %>
          <% end %>
      </span>
    </div>
  </div>
</nav> 

<% flash.each do |name, msg| %>
    <div class='alert alert-<%= name%>'>
        <%= msg %>
    </div>
<% end %>