<!DOCTYPE html>
<html>
  <head>
  <!-- Bootstrap jQuery Plugins, compiled and minified -->
    <script src="https://use.fontawesome.com/83def5e89b.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <!-- Fonts -->
     <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
   <!-- Icon -->
  <%= favicon_link_tag asset_path('favicon.ico') %>

  
   


    <!-- Title -->
    <title> Cafe Verdict </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  
  </head>

   <body>

<!-- Navbar -->
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to root_path, class: 'nav-link', class: 'navbar-brand' do %>
           <i class="fa fa-coffee"> Cafe Verdict </i>
          <% end %>
        </li>

       <li class="nav-item">
          <%= link_to "All Cafes", shops_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Check By States", states_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Add a New Cafe", new_shop_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Write a review", new_review_path, class: 'nav-link' %>
        </li>     
      </ul> 

       <span class="navbar-text"> 
       <li class="nav-item">
         
          <%= link_to "Login", login_path, class: 'nav-link' %>
        </li>

      </span>
     
    </div>
  </div>
</nav> 

<% flash.each do |name, msg| %>
    <div class='alert alert-<%= name%>'>
        <%= msg %>
    </div>
<% end %>
        

    <%= yield %>
  </body>
</html>

